@model IEnumerable<VDLApp.Models.Column>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ColumnNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateInstalled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateShipped)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CTS)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInstalled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateShipped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTS)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColumnID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ColumnID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ColumnID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
